database/
database/mariadb/
database/mariadb/*
root/
logs/nginx/
logs/nginx/error.log
logs/php/
logs/php/php_errors.log
logs/php/php_slow.log
database/filemanager/
database/filemanager/*
database/phpmyadmin/
database/phpmyadmin/*
database/phpmyadmin/twig
database/phpmyadmin/twig/*
